# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Library/
Web/
index/
WebClient/
WebServer/
ProjectSettings/
Temp/
Win32/
*.csproj
*.sln
*.userprefs
*.meta
*.suo
obj/
